<section>
  <!-- <h1>Home</h1> -->


  <div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    ID
                </th>
                <th scope="col" class="py-3 px-6">
                    Description
                </th>
                <th scope="col" class="py-3 px-6">
                    Repo
                </th>
                <th scope="col" class="py-3 px-6">
                    Input
                </th>
            </tr>
        </thead>
        <tbody>

            <tr
              routerLink="/{{item.Repo}}/{{item.ID}}"
              *ngFor="let item of workflows | async"
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{item.ID}}
                </th>
                <td class="py-4 px-6">
                  {{item.Description}}
                </td>
                <td class="py-4 px-6">
                  {{item.Repo}}
                </td>
                <td class="py-4 px-6">
                  <span *ngFor="let input of item.Input" class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">
                    {{input.Name}}
                  </span>
                </td>
            </tr>

        </tbody>
    </table>
</div>


  <!-- <div class="mt-12">
    <h3 class="h5">Settings</h3>
    <ul>
      <li>
        <a class="text-sm link" routerLink="/settings/accessibility"> Accessibility </a>
      </li>
      <li>
        <a class="text-sm link" routerLink="/settings/account"> Account </a>
      </li>
      <li>
        <a class="text-sm link" routerLink="/settings/appearance"> Appearance </a>
      </li>
    </ul>
  </div> -->

  <!-- <div class="mt-6">
    <h3 class="h5">Profiles</h3>
    <ul>
      <li>
        <a class="text-sm link" routerLink="/maria" text-sm> Maria </a>
      </li>
      <li>
        <a class="text-sm link" routerLink="/pedro" text-sm> Pedro </a>
      </li>
      <li>
        <a class="text-sm link" routerLink="/sara" text-sm> Sara </a>
      </li>
    </ul>
  </div> -->
</section>
