<section>
  <!-- <h1>Home</h1> -->


    <table datatable [dtOptions]="dtOptions" class="dataTable ui celled table row-border hover ">
      <thead>
        <tr>
            <th class="py-3 px-6 dark:bg-gray-800 dark:border-gray-700 dark:text-white">
                ID
            </th>
            <th class="py-3 px-6 dark:bg-gray-800 dark:border-gray-700 dark:text-white">
              Repo
            </th>
            <th class="py-3 px-6 dark:bg-gray-800 dark:border-gray-700 dark:text-white">
                Description
            </th>
            <th class="py-3 px-6 dark:bg-gray-800 dark:border-gray-700 dark:text-white">
                Input
            </th>
        </tr>
    </thead>
      <tbody>

        <tr
          routerLink="/{{item.Repo}}/{{item.ID}}"
          *ngFor="let item of workflows"
        >
          <td class="py-4 px-6 font-medium dark:bg-gray-800 dark:border-gray-700 dark:text-white ">
            {{item.ID}}
          </td>
          <td class="py-4 px-6 dark:bg-gray-800 dark:border-gray-700 dark:text-white">
            {{item.Repo}}
          </td>
          <td class="py-4 px-6 dark:bg-gray-800 dark:border-gray-700 dark:text-white">
            {{item.Description}}
          </td>
          <td class="py-4 px-6 dark:bg-gray-800 dark:border-gray-700 dark:text-white">
            <span *ngFor="let input of item.Input" class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">
              {{input.Name}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>

  <!-- <div class="mt-12">
    <h3 class="h5">Settings</h3>
    <ul>
      <li>
        <a class="text-sm link" routerLink="/settings/accessibility"> Accessibility </a>
      </li>
      <li>
        <a class="text-sm link" routerLink="/settings/account"> Account </a>
      </li>
      <li>
        <a class="text-sm link" routerLink="/settings/appearance"> Appearance </a>
      </li>
    </ul>
  </div> -->

  <!-- <div class="mt-6">
    <h3 class="h5">Profiles</h3>
    <ul>
      <li>
        <a class="text-sm link" routerLink="/maria" text-sm> Maria </a>
      </li>
      <li>
        <a class="text-sm link" routerLink="/pedro" text-sm> Pedro </a>
      </li>
      <li>
        <a class="text-sm link" routerLink="/sara" text-sm> Sara </a>
      </li>
    </ul>
  </div> -->
</section>
